// color

$white:#ffffff;
$bagGrey:#f1f1f1;
$redButtonColor:#b10202;
$redColor:#e6233e;
$backgroundRed:#ae0a12;
$purpleLink:#9F1627;
$redLin:#ef252e;
$greenLink: #13ce95;
$greenButton: #3eb391;
$yellow: #e5af09;
$inactiveButton: #d56060;
$greyBorder: #d7d7d7;
$greyColor: #737373;
$lightGreyColor: #DDDDDD;
$black: #000000;
$darkColor: #4a4a4a;
$greyColorText: #484848;
$placeholderColor: #cfcfcf;
$bottomLabel: #858585;
$searchBorder: #f1f1f1;
$inactiveValue: #aaaaaa;
$inactivePlaceholder: #f7f7f7;
$borderInputGrey: #C9C8C9;


  // font constants
$LatoReg: 'Lato-Norm';
$LatoMed: 'Lato-Med';
$LatoBold: 'Lato-Bold';
$UbuntuReg: 'Ubunti-Reg';


button {
  outline: none;
}
* {
  -webkit-text-size-adjust: 100%;
}
